@font-face {
  font-family: 'Zilla Slab';
  font-weight: 300;
  font-style: normal;
  src: url('../static/fonts/zilla-slab-latin300.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin300.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin300.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin300.woff2') format('woff2')
}

@font-face {
 font-family: 'Zilla Slab';
 font-weight: 300;
 font-style: italic;
 src: url('../static/fonts/zilla-slab-latin300italic.eot') format('eot'),
      url('../static/fonts/zilla-slab-latin300italic.svg') format('svg'),
      url('../static/fonts/zilla-slab-latin300italic.woff') format('woff'),
      url('../static/fonts/zilla-slab-latin300italic.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: normal;
  src: url('../static/fonts/zilla-slab-latin400.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin400.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin400.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin400.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 400;
  font-style: italic;
  src: url('../static/fonts/zilla-slab-latin400italic.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin400italic.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin400italic.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin400italic.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 500;
  font-style: normal;
  src: url('../static/fonts/zilla-slab-latin500.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin500.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin500.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin500.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 500;
  font-style: italic;
  src: url('../static/fonts/zilla-slab-latin500italic.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin500italic.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin500italic.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin500italic.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 600;
  font-style: normal;
  src: url('../static/fonts/zilla-slab-latin600.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin600.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin600.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin600.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 600;
  font-style: italic;
  src: url('../static/fonts/zilla-slab-latin600italic.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin600italic.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin600italic.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin600italic.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: normal;
  src: url('../static/fonts/zilla-slab-latin700.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin700.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin700.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin700.woff2') format('woff2')
}

@font-face {
  font-family: 'Zilla Slab';
  font-weight: 700;
  font-style: italic;
  src: url('../static/fonts/zilla-slab-latin700italic.eot') format('eot'),
       url('../static/fonts/zilla-slab-latin700italic.svg') format('svg'),
       url('../static/fonts/zilla-slab-latin700italic.woff') format('woff'),
       url('../static/fonts/zilla-slab-latin700italic.woff2') format('woff2')
}
