$main-font: 'Titillium Web', 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
$headline-font: 'Zilla Slab', slab, serif;

$main-text-color: #383838;

body {
	text-rendering: optimizeLegibility;
	font-family: $main-font;
	font-size: 17px;
	padding-bottom: 5em;
	line-height: 1.7;
	color: $main-text-color;
}

@for $i from 1 through 6 {
	h#{7 - $i} {
		font-size: $i * 0.4em;
	}
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $headline-font;
		weight: 700;
	}

	line-height: 1.2;
}

h2::before {
	content: "// ";
}

div.area {
	padding: 2em 4em;
	min-height: 20em;
}

#logo {
	color: #ffffff;
	background-color: #000000;
	padding: 4px 6px;

	font: {
		size: 19px;
		family: $headline-font;
		weight: 800;
	}
}

div.area-1 {
	#main-title {
		font-size: 3.5em;
	}

	#subtitle, .typed-cursor {
		font: {
			family: $main-font;
			style: italic;
			size: 1.8em;
			weight: 200;
		}
	}

	.get-involved-btn {
		margin: 1em 0;
		font: {
			weight: 800;
			size: 1.5em;
		}

		> span {
			margin-left: 15px;
		}
	}
}

div.area-2 {
	background-color: #4ECDC4;
}

div.area-3 {
	background-color: #C7F464;
}

div.area-4 {
	background-color: #FF6B6B;
}
div.area-5 {
	background-color: #556270;
	color: #ffffff;
}

.quote {
	position: relative;
	margin-bottom: 4.5em;
}

.quote .quote-mirror {
	
}

.quote::after {
	content:"";
	display:block;
	clear:both;
}

.quote .photo {
	width: 7em; height: 7em;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3.5em;
	float: left;
	margin-top: -.3em;
	margin-right: 1em;
	background-color: #fff;
}

.quote .photo {
	margin-top: -.7em;
}

blockquote {
	padding: 0 0 0 130px;
	float: left;
	margin: 0;
	width: 100%;
	border-left: none;
	position: absolute;
}

blockquote > div {
	background: #fff;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1em;
	line-height: 1.4em;
	padding: 1em 1.3em;
	color: #000;
	position: relative;
}

.quote blockquote > div {
	font-size: 1.1em;
	line-height: 1.4em;
}

blockquote > div:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	left: -1.2em;
	border: .7em solid transparent;
	border-right-color: #fff;
}

