$main-font: 'Fira Sans', 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
$headline-font: 'Zilla Slab', slab, serif;

$main-text-color: #383838;
$main-text-size: 17px;

@import 'elements';

// Only a temporary hack, this import and _gradients.scss can be removed as soon as the Bootstrap sass is included.
@import 'gradients';

body {
	font-family: $main-font;
	font-size: $main-text-size;
	line-height: 1.7;
	color: $main-text-color;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: auto;
	-webkit-font-kerning: normal;
	-webkit-text-size-adjust: 100%;
	font-variant-ligatures: discretionary-ligatures;
	-webkit-font-variant-ligatures: discretionary-ligatures;
}

p.browserupgrade {
	margin: 10px auto;
	border-bottom: 2px solid #000000;
	padding: 10px 30px;
}

div.area {
	padding: 2em 4em;
	min-height: 20em;
}

.highlight {
	background: #8ee3fc;
	font-weight: 700;
	padding: 0 5px;
}

@import 'head';

div.area-2 {
	@include gradient-directional($start-color: #8df472, $end-color: #6df2c7);
	clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
	padding-top: 1em;
}

div.area-3 {
	@include gradient-directional($start-color: #8ee3fc, $end-color: #ab9ffc);
}

div.area-4 {
	@include gradient-directional($start-color: #ba95fe, $end-color: #b87bfd);
}

div.area-5 {
	@include gradient-directional($start-color: #c375fe, $end-color: #d66afe);
}

@import 'quotes';

div.footer {
	background-color: #556270;
	color: #ffffff;
	min-height: 0;
	font-size: $main-text-size * 0.8;

	// Disable subpixel rendering for white-on-dark text
	-webkit-font-smoothing: antialiased;


	a {
		color: #dddddd;
	}

	div.logos {
		img {
			max-height: 80px;
		}
	}
}
