.sass-cache
node_modules
static/css/main.css
static/css/main.css.map
static/js/bundle.js
static/js/bundle.js.map
static/js/ie.js
static/js/ie.js.map
development.db
.venv
*.pyc
Lib
Scripts
pyvenv.cfg
copyfight/settings_local.py
pip-selfcheck.json
