*.pyc
.sass-cache
node_modules
static/css/main.css
static/css/main.css.map
static/js/bundle.js
static/js/bundle.js.map
static/js/ie.js
static/js/ie.js.map
development.db
.venv
copyfight/settings_local.py
development.db
Lib/
node_modules/
pip-selfcheck.json
pyvenv.cfg
Scripts/
static/css/
static/fonts/
static/js/
