h6 {
  font-size: 0.4em; }

h5 {
  font-size: 0.8em; }

h4 {
  font-size: 1.2em; }

h3 {
  font-size: 1.6em; }

h2 {
  font-size: 2em; }

h1 {
  font-size: 2.4em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Zilla Slab", slab, serif;
  font-weight: 700;
  line-height: 1.2; }

h2::before {
  content: "// "; }

.btn, .btn-default {
  background: rgba(0, 0, 0, 0);
  text-shadow: none; }
  .btn, .btn:hover, .btn-default, .btn-default:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 0; }
  .btn:hover, .btn-default:hover {
    background: rgba(0, 0, 0, 0.1); }

body {
  font-family: "Fira Sans", "Source Sans Pro", "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.7;
  color: #383838;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%; }

div.area {
  padding: 2em 4em;
  min-height: 20em; }

nav.header-nav {
  font-size: 0.8em; }
  nav.header-nav .navbar-brand {
    color: #ffffff;
    background-color: #000000;
    padding: 5px 8px;
    font-size: 19px;
    font-family: "Zilla Slab", slab, serif;
    font-weight: 800; }
.nav-link {
  white-space: nowrap;
}

div.area-header #main-title {
  font-size: 3.5em; }
div.area-header #subtitle-strings {
  display: none; }
div.area-header #subtitle, div.area-header .typed-cursor {
  font-family: "Fira Sans", "Source Sans Pro", "Open Sans", "Arial", sans-serif;
  font-style: italic;
  font-size: 1.8em;
  font-weight: 200; }
div.area-header #subtitle {
  margin-bottom: 30px; }
  div.area-header #subtitle span {
    padding-left: 5px;
    padding-right: 10px;
    margin: 0 -3px;
    -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    overflow: visible; }
  div.area-header #subtitle span.hl-1 {
    background: #4ECDC4; }
  div.area-header #subtitle span.hl-2 {
    background: #C7F464; }
  div.area-header #subtitle span.hl-3 {
    background: #FF6B6B; }
div.area-header .get-involved-btn {
  margin: 1em 0;
  font-weight: 800;
  font-size: 1.5em; }
  div.area-header .get-involved-btn > span {
    margin-left: 15px; }

div.area-2 {
  background-color: #4ECDC4;
  clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
  padding-top: 1em; }

div.area-3 {
  background-color: #C7F464; }

div.area-4 {
  background-color: #FF6B6B; }

.quote {
  position: relative;
  margin-bottom: 4.5em; }
  .quote::after {
    content: "";
    display: block;
    clear: both; }
  .quote .photo {
    width: 7em;
    height: 7em;
    border-radius: 3.5em;
    float: left;
    margin-top: -.3em;
    margin-right: 1em;
    margin-top: -.7em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff; }
  .quote blockquote > div {
    font-size: 1.1em;
    line-height: 1.4em; }
    .quote blockquote > div:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      left: -1.2em;
      border: .7em solid transparent;
      border-right-color: #fff; }

blockquote {
  padding: 0 0 0 130px;
  float: left;
  margin: 0;
  width: 100%;
  border-left: none;
  position: absolute; }
  blockquote > div {
    background: #fff;
    line-height: 1.4em;
    padding: 1em 1.3em;
    color: #000;
    position: relative; }

div.footer {
  background-color: #556270;
  color: #ffffff;
  min-height: 0;
  font-size: 13.6px; }

/*# sourceMappingURL=main.css.map */
