// Header navigation
.header-nav {
  padding: {
    bottom: 1em;
    left: 4em;
    right: 4em;
  }

  nav {
    font-size: .8em;
    min-height: 0;

    .navbar-brand {
      background-color: black;
      font: {
        family: $headline-font;
        size: 19px;
        weight: 600;
      }
      padding: 0 .4em;

      &,
      &:active,
      &:focus,
      &:hover {
        color: white;
      }
    }

    .navbar-text {
      color: black;
      font-weight: bolder;
    }

    .navbar-text,
    .nav-link {
      white-space: nowrap;
    }
  }
}

// First block on homepage
div.area-index-header {
  padding-top: 0;

  #subtitle-strings {
    display: none;
  }

  #subtitle,
  .typed-cursor {
    font: {
      family: $main-font;
      size: 3em;
      style: italic;
      weight: 200;
    }
  }

  #subtitle {
    margin: 0 -3px 30px -3px;
    overflow: visible;

    span {
      padding: {
        left: 5px;
        right: 10px;
      }
    }

    span.hl-1 {
      background: #8df472;
    }

    span.hl-2 {
      background: #8ee3fc;
    }

    span.hl-3 {
      background: #ba95fe;
    }
  }

  .get-involved-btn {
    font: {
      size: 1.5em;
      weight: 800;
    }
    margin: 1em 0;

    > span {
      margin-left: 15px;
    }
  }

  .time-left {
    background: black;
    color: white;
    margin: 0 auto;
    text-align: center;

    td {
      border: 2px solid white;
      width: 70px;
    }

    .time-left-numbers td {
      font-family: 'Courier New', monospace;
      font-size: 200%;
      font-weight: bold;
    }
  }
}
