.quote {
  display: flex;
  margin: 3em 0;

  &::after {
    clear: both;
    content: '';
    display: block;
  }

  .photo {
    background: {
      color: #fff;
      position: center;
      repeat: no-repeat;
      size: cover;
    }
    border-radius: 3.5em;
    flex: none;
    height: 7em;
    margin: {
      right: 1em;
      top: -.7em;
    }
    width: 7em;
  }

  blockquote > div {
    font-size: 1.1em;
    line-height: 1.4em;

    &::before {
      border: .7em solid transparent;
      border-right-color: #ccc;
      content: '';
      height: 0;
      left: -1.3em;
      position: absolute;
      width: 0;
    }
  }

  &.quote-mirror {

    .photo {
      left: auto;
      margin: {
        left: 1em;
        right: 0;
      }
      order: 2;
      right: 0;
    }

    blockquote {
      order: 1;

      > div::before {
        border-left-color: #ccc;
        border-right-color: transparent;
        left: auto;
        right: -1.3em;
      }
    }

  }

  @include media-breakpoint-down(xs) {
    display: block;
    margin: 3em 0;

    blockquote {
      margin-top: 1em;

      > div::before {
        border-bottom-color: #fff;
        border-right-color: transparent;
        left: 2.5em;
        top: -1.2em;
      }
    }

    &.quote-mirror blockquote > div::before {
      border-left-color: transparent;
      left: 2.5em;
      right: auto;
    }

    &.quote-mirror .photo {
      margin-left: 0;
    }

  }
}

blockquote {
  border-left: 0;
  margin: 0;
  top: 0;
  width: 100%;

  > div {
    background: #ccc;
    color: #000;
    line-height: 1.4em;
    padding: 1em 1.3em;
    position: relative;
  }
}
