@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

@import 'colors';
@import 'fonts';

$main-font: 'Fira Sans', 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
$headline-font: 'Zilla Slab', slab, serif;

$main-text-size: 17px;

@import 'elements';

// placeholder stuff
// move somewhere else

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}



html {
  height: 100%;
}

body {
  -webkit-font-smoothing: auto;
  -webkit-font-kerning: normal;
  -webkit-font-variant-ligatures: discretionary-ligatures;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box !important;
  color: $color-text-main;
  font-family: $main-font;
  font-size: $main-text-size;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1.7;
  min-height: 100%;
  position: relative;
  text-rendering: optimizeLegibility;
}

p.browserupgrade {
  border-bottom: 2px solid #000;
  margin: 10px auto;
  padding: 10px 30px;
}

div.area {
  padding: 4em 5em;
}

.highlight {
  background: #8ee3fc;
  font-weight: 700;
  padding: 0 5px;
}

@import 'head';

div.area-3,
div.area-4,
div.area-5 {
  clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

div.area-2,
div.area-4 {
  @include gradient-directional($start-color: #8ee3fc, $end-color: #ab9ffc);
}

div.area-2 {
  clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

div.area-6 {
  @include gradient-directional($start-color: #ba95fe, $end-color: #b87bfd);
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

div.area-8 {
  @include gradient-directional($start-color: #c375fe, $end-color: #d66afe);
}

.area-2,
.area-3,
.area-4 {
  > div:nth-child(2),
  > div:nth-child(3) {
    display: none;
  }
}

.share {

  > label {
    font-size: 1.2em;
    font-weight: bold;

    i {
      padding-right: 0.2em;
    }
  }

  > select {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .share-btn {
    border: 0;
    border-radius: 2em;
    color: #fff;
    display: inline-block;
    outline: none;
    padding: .2em;
    text-align: center;
    width: 2em;

    &:active,
    &:focus,
    &:hover {
      color: #eee;
    }

    &:hover {
      position: relative;
      top: 2px;
    }

    &.facebook {
      background-color: $color-facebook;
    }

    &.twitter {
      background-color: $color-twitter;
    }

    &.reddit {
      background-color: $color-reddit;
    }

    > i {
      vertical-align: middle;
    }
  }
}

.share-general {
  > .row:nth-of-type(2) div:nth-child(even) {
    margin-top: .5em;
  }

  .statement {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 300;
    margin-bottom: 1.4em;
    padding: .5em .7em;
    position: relative;

    &::after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      bottom: -10px;
      content: '';
      height: 0;
      left: 50px;
      position: absolute;
      width: 0;
    }
  }

  .share-facebook,
  .share-twitter {
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    color: #fff;
    display: inline-block;
    font-weight: bolder;
    margin-bottom: .5em;
    padding: .3em .8em;
    text-decoration: none;
    white-space: nowrap;
  }

  .share-facebook {
    background-color: $color-facebook;
  }

  .share-twitter {
    background-color: $color-twitter;
  }
}

@import 'quotes';

div.footer {
  // Disable subpixel rendering for white-on-dark text
  -webkit-font-smoothing: antialiased;
  background-color: #556270;
  color: #fff;
  font-size: $main-text-size * .8;

  a {
    color: #ddd;
  }

  div.logos {
    a:first-child img {
      max-height: 80px;
    }
    a:nth-child(2) img {
      max-height: 95px;
    }
  }

  button,
  input,
  select {
    border: 1px solid #ddd;
    color: #fff;
  }
}


// E-Mail form
// move somewhere else

div.area-email {
  background-color: #000;
  color: #fff;
  padding: {
    bottom: 0;
    left: 6em;
    top: 0;
  }

  div.col-xs-12 {
    width: 100%;

    form.email_form {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 4px 0;
      text-align: center;
      width: 100%;

      @media (max-width: 480px) {
        font-size: 1.2em !important;
      }

      p {
        margin: 0 !important;
      }

      label {
        display: none;
      }

      input {
        background-color: #000;
        border: 0;
        border-radius: 0;
        color: #fff;
        flex: 1 1 100%;

        font: {
          family: $main-font;
          size: 1.6rem;
          weight: 200;
        }

        text-decoration: underline rgba(255, 255, 255, 0.3);

        @include placeholder {
            color: white;
            text-decoration: underline rgba(255, 255, 255, 0.3);
        }
      }

      button {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        flex-shrink: 0;
        font: {
          family: $main-font;
          size: 1.3rem;
          weight: 700;
        }
        line-height: .8;
        min-width: 0;
        padding: {
          left: 10px;
          right: 12px;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }

      .form_status {
        white-space: nowrap;
      }

      #email_reload {
        cursor: pointer;
        display: none;
        font-style: normal;
        margin: 0 15px;
      }

      #email_share {
        display: none;
        font-size: 0.8em;
        white-space: nowrap;

        #share_fb {
          background: $color-facebook;
          clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          cursor: pointer;
          font-weight: bolder;
          margin: 0 -3px;
          overflow: visible;
          padding: {
            left: 12px;
            right: 12px;
          }
        }

        #share_twitter {
          background: $color-twitter;
          clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          cursor: pointer;
          font-weight: bolder;
          margin: 0 -3px;
          overflow: visible;
          padding: {
            left: 10px;
            right: 12px;
          }
        }
      }
    }
  }
}
