@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/font-awesome/scss/font-awesome';

@import 'colors';
@import 'fonts';

$main-font: 'Fira Sans', 'Source Sans Pro', 'Open Sans', 'Arial', sans-serif;
$headline-font: 'Zilla Slab', slab, serif;

$main-text-color: #383838;
$main-text-size: 17px;

@import 'elements';

// placeholder stuff
// move somewhere else

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}



html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;

  font-family: $main-font;
  font-size: $main-text-size;
  line-height: 1.7;
  color: $main-text-color;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-variant-ligatures: discretionary-ligatures;

  box-sizing: border-box !important;
}

p.browserupgrade {
  margin: 10px auto;
  border-bottom: 2px solid #000000;
  padding: 10px 30px;
}

div.area {
  padding: 4em 4em;
  padding-top: 2em;
}

.highlight {
  background: #8ee3fc;
  font-weight: 700;
  padding: 0 5px;
}

@import 'head';

div.area-3, div.area-4, div.area-5 {
    clip-path: polygon(50% 5%, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

div.area-2, div.area-4 {
  @include gradient-directional($start-color: #8ee3fc, $end-color: #ab9ffc);
}

div.area-2 {
  clip-path: polygon(50% 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
}

div.area-6 {
  @include gradient-directional($start-color: #ba95fe, $end-color: #b87bfd);
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
}

div.area-8 {
  @include gradient-directional($start-color: #c375fe, $end-color: #d66afe);
}

.area-2,
.area-3,
.area-4 {
  > div:nth-child(2),
  > div:nth-child(3) {
    display: none;
  }
}

.share {

  > label {
    font-size: 1.2em;
    font-weight: bold;

    i {
      padding-right: 0.2em;
    }
  }

  > select {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }

  .share-btn {
    border: 0;
    border-radius: 2em;
    color: #fff;
    display: inline-block;
    outline: none;
    padding: .2em;
    text-align: center;
    width: 2em;

    &:active,
    &:focus,
    &:hover {
      color: #eee;
    }

    &:hover {
      position: relative;
      top: 2px;
    }

    &.facebook {
      background: #3B5998;
    }

    &.twitter {
      background: #55acee;
    }

    &.reddit {
      background: #EE2509;
    }

    > i {
      vertical-align: middle;
    }
  }
}

.share-general {
  > .row:nth-of-type(2) div:nth-child(even) {
    margin-top: .5em;
  }

  .statement {
    background-color: #fff;
    margin-bottom: 1.4em;
    padding: .5em .7em;
    position: relative;
    border-radius: 8px;
    font-weight: 300;

    &::after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      bottom: -10px;
      content: '';
      height: 0;
      left: 50px;
      position: absolute;
      width: 0;
    }
  }

  .share-facebook,
  .share-twitter {
    clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
    color: #fff;
    font-weight: bolder;
    padding: .3em .8em;
    text-decoration: none;
  }

  .share-facebook {
    background-color: $color-facebook;
  }

  .share-twitter {
    background-color: $color-twitter;
  }
}

@import 'quotes';

div.footer {
  background-color: #556270;
  color: #ffffff;
  font-size: $main-text-size * 0.8;

  // Disable subpixel rendering for white-on-dark text
  -webkit-font-smoothing: antialiased;

  a {
  color: #dddddd;
  }

  div.logos {
    a:first-child img {
      max-height: 80px;
    }
    a:nth-child(2) img {
      max-height: 95px;
    }
  }

  input, select, button {
    color: #ffffff;
    border: 1px solid #dddddd;
  }
}


// E-Mail form
// move somewhere else

div.area-email {
  background-color: black;
  color: white;
  padding-bottom: 0 !important;

  div.col-xs-12 {
    width: 100%;

    form.email_form {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;

      padding: 4px 0;

      @media (max-width: 480px) {
        font-size: 1.2em !important;
      }

      p {
        margin: 0 !important;
      }

      label {
        display: none;
      }

      input {
        flex: 1 1 100%;
        background-color: black;
        border: 0;
        border-radius: 0;
        color: white;

        font: {
          family: $main-font;
          size: 1.6rem;
          weight: 200;
        }

        text-decoration: underline rgba(255, 255, 255, 0.3);

        @include placeholder {
            color: white;
            text-decoration: underline rgba(255, 255, 255, 0.3);
        }
      }

      button {
        line-height: 0.8;

        padding: {
          left: 10px;
          right: 12px;
        }

        background: transparent;
        color: #ffffff;

        @media (max-width: 480px) {
          display: none;
        }

        flex-shrink: 0;
        min-width: 0;
        border: 1px solid #ffffff;

        font: {
          family: $main-font;
          size: 1.3rem;
          weight: 700;
        }
      }

      .form_status {
        white-space: nowrap;
      }

      #email_reload {
        display: none;
        font-style: normal;
        margin: 0 15px;
        cursor: pointer;
      }

      #email_share {
      white-space: nowrap;
      display: none;
      font-size: 0.8em;

        #share_fb {
          font-weight: bolder;
          cursor: pointer;

          padding: {
            left: 12px;
            right: 12px;
          }

          margin: 0 -3px;
          -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          overflow: visible;
          background: $color-facebook;
        }

        #share_twitter {
          font-weight: bolder;
          cursor: pointer;

          padding: {
            left: 10px;
            right: 12px;
          }

          margin: 0 -3px;
          -webkit-clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0%, 92% 100%, 0% 100%);
          overflow: visible;
          background: $color-twitter;
        }
      }
    }
  }
}
