{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block navigation %}
	{# This block is closed again in the content block. It is used to place the background spanning the navigation and first content block. #}
	<div id="index-background-container">
		<div id="index-header-background">&nbsp;</div>
		<div id="index-header-portraits">&nbsp;</div>
		{{ block.super }}
{% endblock %}

{% block content %}
	<div class="container-fluid area area-index-header">
		<div class="row">
			<div class="col">
				<h1 id="main-title">
					<span id="main-title-strings"><p>{% blocktrans %}Young people need a <span>real</span> copyright reform.{% endblocktrans %}</p></span>
					<span id="main-title-container"></span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-5 text-justify">
				<p>{% blocktrans %}Young people all over Europe and beyond break copyright laws everyday on- and offline. It's not their fault that <b>outdated laws</b> are applied to new forms of culture that are now at the core of the cultural life of a whole generation.{% endblocktrans %}</p>
				<p>{% blocktrans %}Copyright still follows <b>national borders</b>, user generated content such as <b>memes and fan-fiction</b> that have no relevant economic impact on right holders are still stuck in a <b>legal grey area</b>, and <b>the Internet itself is at risk</b> thanks to continued legislative proposals that do not respect our freedom of expression online.{% endblocktrans %}</p>
				<p>{% blocktrans %}<b>We need copyright to change, now!</b>{% endblocktrans %}</p>
			</div>
			<div class="col-lg-7">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m8YWC_wj9g4" allowfullscreen title="Youtube video"></iframe>
				</div>
			</div>
		</div>
	</div>

	{# This closes the div opened in the navigation block #}
	</div>

	<div class="container-fluid area area-1">
		<div class="row align-items-center">
			<div class="col-md-6">
				<a href="#take-action"><i class="fa fa-caret-right" aria-hidden="true"></i> {% trans 'How you can take action ' %}</a></span>
			</div>
			<div class="col-md-6 follow-social-media">
				{% blocktrans %}Follow us <a href="https://facebook.com/jointhecopyfight" target="_blank" class="follow-facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a><a href="https://twitter.com/copyfighters" target="_blank" class="follow-twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>{% endblocktrans %}
			</div>
		</div>
	</div>

	{% comment %}
	<!--div class="col-md-4">
		<p>Time is running! The European Parliament’s <b>pivotal vote</b> on this Proposal is in:</li>
		<!-- 10 October 2017 -->
		<!--Call your local government now!
		<form action="/formtest/" method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit">Submit</button>
		</form>
		Give us all your Data!
		<form class="email_form" action="/email_form/" method="post">
			<p class="form_status"></p>
			{% csrf_token %}
			{{ email_form }}
			<button type="submit">Submit</button>
		</form>
	</div-->
	{% endcomment %}

	<div class="container-fluid area area-2">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Our proposals' %}</h2>
				<p>{% trans 'Over the past year, more than 100 young Europeans from 25 different European countries worked together to understand the real-life problems young people experience with copyright and to come up with proposals what to do about that.' %}</p>
			</div>
		</div>
		<div class="row positions">
			<div class="col-md-4 position">
				<i class="fa fa-globe" aria-hidden="true"></i>
				<h4>{% trans 'End Territoriality' %}</h4>
				<p class="position-text">{% trans 'We share the deep belief that territorial copyright with different legislation in different countries is not in line with the borderless nature of the Internet. The countries of the world should agree upon a single copyright standard clarifying the confusion of interjurisdictional issues on the Internet. We believe the European Union stands in an excellent position to lead the way by creating a digital single market. Therefore, we call on the European Union to set an example in harmonising copyright legislation by introducing a single European copyright title.' %}</p>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
			<div class="col-md-4 position">
				<i class="fa fa-youtube-play" aria-hidden="true"></i>
				<h4>{% trans 'Stop Geoblocking' %}</h4>
				<p class="position-text">{% trans 'Many young people move to other European countries and travel regularly. The Internet and social media have made a huge impact on sharing and communicating with people internationally. The Internet has also made people aware of many cultural goods and services. However, many barriers exist and Europeans are finding it increasingly difficult to have access to the same goods and services that are available in their home countries, and vice versa. For example, when it comes to audio-visual content, it is important to have legally available services that are high in demand and that people want to consume. Furthermore, geoblocking hinders new business models for creating cultural works and needs to be ended to significantly reduce piracy, as it is often impossible to legally access the works people are interested in.' %}</p>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
			<div class="col-md-4 position">
				<i class="fa fa-refresh" aria-hidden="true"></i>
				<h4>{% trans 'Allow fair use' %}</h4>
				<p class="position-text">{% trans 'Existing copyright legislation has in practice proven to be unenforceable in a digital environment. Significant portions of the population engage on a day-to-day basis in online activities such as image sharing, which are often illegal. Besides the effects this has on users it also discourages new businesses from emerging due to legal uncertainty. Users should be protected through the introduction of flexible exceptions to copyright legislation.' %}</p>
				<p class="position-text">{% trans 'Fair use should have an open definition which would allow for the inclusion of future technologies and business models. We propose the introduction of a fair use exception, in order to enable future uses and allow for case-by-case judgements for copyright cases. Furthermore, basic copyright exceptions and limitations, like freedom of panorama and parody, should be harmonized in all EU countries.' %}</p>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
			<div class="col-md-4 position">
				<i class="fa fa-filter" aria-hidden="true"></i>
				<h4>{% trans 'No automated filters' %}</h4>
				<p class="position-text">{% trans 'New platforms and technologies help lower the barriers for people to access art and culture. At the same time, these platforms and the content they disseminate create new challenges. While there is sometimes a need to remove content from these platforms, it is important to safeguard user’s rights when doing so:' %}</p>
				<ul class="position-text">
					<li>{% trans 'Intermediaries must only remove content in accordance with publicly available content removal procedures, follow due process, exercise tests of necessity and proportionality, and provide appeal mechanisms to an independent and impartial actor.' %}</li>
					<li>{% trans 'Governments, intermediaries, and civil society should work together to develop a framework for periodic, independent and impartial reviews of the intermediary’s content restriction policies and assess their impact on human rights' %}</li>
					<li>{% trans 'The implementation of automated content recognition systems should not be imposed by law. If intermediaries opt to implement such systems voluntarily, it is important that they safeguard fundamental rights, including the freedom of expression, as well as respect copyright exceptions and limits.' %}</li>
					<li>{% trans 'The law should make distinction between the platforms by content type (data hosting providers, publishing platforms, search engines, payment systems, and so forth) and by scale. No administrative, financial or technological barriers should be created for new market entrants.' %}</li>
				</ul>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
			<div class="col-md-4 position">
				<i class="fa fa-recycle" aria-hidden="true"></i>
				<h4>{% trans 'Support remix culture' %}</h4>
				<p class="position-text">{% trans 'The undetermined legal status of remix works that extend from visual arts to fan fiction is a significant issue which prevents us from active participation in a democracy where we are not merely recipients but rather creators of new meaning.' %}</p>
				<p class="position-text">{% trans 'Commercial companies threaten small actors who manage to attract audiences with their new creative works which are based on copyrighted materials. Many such works fall into a category of transformative works which bring renewed creative value, boost arts and sciences, which is a purpose of copyright; such works are a promotion of copyrighted works, however this potential is not explored and small creators are still treated as criminals.' %}</p>
				<p class="position-text">{% trans 'It is important to protect small creators from such threats posed by big companies by bringing more clarity on the terms of use of both copyrighted and out of copyright works.' %}</p>
				<ul class="position-text">
					<li>{% trans 'Introduction of an exception for non-commercial user-generated content, compensated by collective licensing in case of commercial use.' %}</li>
					<li>{% trans 'No copyright claim on digital copies of public domain (out-of-copyright) artistic works in any format.' %}</li>
					<li>{% trans 'Simplified copyright clearance process for GLAMs (Galleries, Libraries, Archives, and Museums).' %}</li>
					<li>{% trans 'International legal compatibility with the Creative Commons licensing model for digital content available for creative repurposing.' %}</li>
				</ul>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
			<div class="col-md-4 position">
				<i class="fa fa-graduation-cap" aria-hidden="true"></i>
				<h4>{% trans 'Open Access & Education' %}</h4>
				<p class="position-text">{% trans 'We experience barriers when trying to access scientific works for our studies and education. We believe that everyone would benefit from an open access regime, therefore all research that is partially or fully publicly funded should by default be released into the public domain. To further lower the paywall of the current publishing system, we believe that peer review should become the focal point of reform, so that we establish alternative means of validating research besides few large publications.' %}</p>
				<p class="position-text">{% trans 'A clearly defined exception for educational purposes, both formal and informal, must be added to the harmonised copyright laws to enable all forms of learning, including sharing materials freely in class or during extracurricular activities and even for self-learning. Teachers should be allowed to spontaneously use resources from the Internet in education and show them to pupils and students without a bureaucratic licensing process. Support for researchers in negotiations with publishers to allow open access to research in repositories.' %}</p>
				<p class="position-text">← {% trans 'Back' %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="position-ignored">{% blocktrans %}<b>Unfortunately, our ideas are not heard.</b> There is currently a <a href="https://juliareda.eu/eu-copyright-reform/" target="_blank"><b>once-in-a-generation reform of copyright legislation going on in the European Union</b></a>, but lawmakers are too concerned with the <b>demands of lobbyists and corporations</b>, that want to back up their outdated business models from the past century. Without changing much on the foundation of copyright, the reform is <b>threatening to outlaw everyday cultural practices of millions of Europeans</b>. Find out below about these issues.{% endblocktrans %}</p>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-3">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Current issues' %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 issue1-intro">
				<h3>#1: {% trans "Publishers' right" %}</h3>
				<p>{% blocktrans %}Under Article 11 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, the press will have a new right to sue individuals -- or the platforms they use to link to publications on the Internet. The “ancillary right of press publishers” (also known as the “link tax”) will allow press publishers to request a licence fee from anyone who shares their links online if the link is accompanied by a description, snippet, or even just a title that could be the subject of copyright! This includes most news articles shared online.{% endblocktrans %}</p>
				<p>
					<a class="btn btn-default show-details" role="button">{% trans 'Why is this problematic?' %}</a>
					<a class="btn btn-default hide-details" role="button">← {% trans 'Back' %}</a>
				</p>
			</div>
			<div class="col-md-4 issue2-intro">
				<h3>#2: {% trans 'Content filtering' %}</h3>
				<p>{% blocktrans %}Under Article 13 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, information society service providers such as Google, Amazon, Facebook, and Twitter will be forced to apply content filtering technology to pre-screen the content uploaded onto their platforms in order to identify copyright infringing works.{% endblocktrans %}</p>
				<p>
					<a class="btn btn-default show-details" role="button">{% trans 'Why is this problematic?' %}</a>
					<a class="btn btn-default hide-details" role="button">← {% trans 'Back' %}</a>
				</p>
			</div>
			<div class="col-md-4 issue3-intro">
				<h3>#3: {% trans 'User-generated content' %}</h3>
				<p>{% blocktrans %}In their February 2017 <a href="http://www.europarl.europa.eu/sides/getDoc.do?pubRef=-//EP//NONSGML+COMPARL+PE-595.591+01+DOC+PDF+V0//EN&language=EN">Draft Opinion</a>, the Committee on Culture and Education of the European Parliament (CULT) proposed a user-generated content exception to copyright. This proposed amendment (which has not yet been incorporated into the Directive) provides that using content already made available online for purposes such as criticism, review, illustration, caricature, or parody is lawful provided the source is accurately identified and the use is consistent with fair practice. Such a proposal is not yet part of the law, but our view is it should be to ensure a healthy remix culture and a future-proof internet.{% endblocktrans %}</p>
				<p>
					<a class="btn btn-default show-details" role="button">{% trans 'Why is this important?' %}</a>
					<a class="btn btn-default hide-details" role="button">← {% trans 'Back' %}</a>
				</p>
			</div>
			<div class="col-md-8 issue1-description">
				<h4>{% trans 'What was the problem?' %}</h4>
				<p>{% trans 'The reason behind this proposal was to remedy the so-called “value gap”. The value gap is the disparity between the large revenues of large online platforms such as Google and Facebook, and the low revenues of press publishers. It was intended as a way of redistributing Google’s revenues to small publishers. The reality is far less straightforward: the resulting proposal will not only fail to redistribute Google’s revenues to those who need it, but it will also hamper our ability as online users to engage with one another on the internet.' %}</p>
				<h4>{% trans 'Here’s why the Commission’s proposal won’t solve the problem' %}</h4>
				<p>{% trans 'No. The European Commission’s proposal will have a series of very negative impacts on the free and open Internet which we all use every day:' %}</p>
				<ul>
					<li>{% trans 'In Spain where a snippet levy is in place, Google has not paid a share of their advertisement-based revenues to news publishers. Instead, it has simply stopped publishing links to Spanish publishers. It is likely that other social networks will limit their users’ ability to share such links if this Directive comes into effect, thus threatening our freedom of information and limiting our right to be informed' %}</li>
					<li>{% trans 'News publishers will have the right to sue individual website owners and to ask for licence fees whenever their links are being shared, hindering the ability of individuals to share new ideas and important information.' %}</li>
					<li>{% trans 'Advertisement-based clickbait and low-quality news providers which do not charge to share their links could prosper to the detriment of more reputable news sources.' %}</li>
					<li>{% trans 'This will have a negative impact on competition and innovation: European start-ups will be unable to pay for link snippets, and thus will either be unable to compete with existing platform monopolies such as Google or Facebook or will need to launch outside of the European Union.' %}</li>
				</ul>
				<h4>{% trans 'The proposal needs urgent amendment or deletion, and we need your help to ensure that happens. Join the Copyfight!' %}</h4>
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
			<div class="col-md-8 issue2-description">
				<h3>{% trans 'Unless we take urgent action our ability to post content on the internet will be limited by a censorship machine' %}</h3>
				<h4>{% trans 'What was the problem?' %}</h4>
				<p>{% trans 'The Internet empowers everyone to become a content creator and to have their voices heard around the world. The problem is that some of the content uploaded on the Internet infringes the copyright of other content creators. The Proposal is trying to address copyright infringement on the Internet, but addresses it in a way that hampers the way the Internet has been functioning so far by asking platforms to put in place costly and opaque solutions to pre-screen our content.' %}</p>
				<h4>{% trans 'The proposal is problematic…' %}</h4>
				<p>{% trans 'If you have ever uploaded content to social media, or watched a creative video someone else uploaded, this proposed reform could affect you. This proposal would require intermediaries such as Facebook and YouTube to constantly police their platforms with censorship machines, often with no human element involved in the process. These mechanisms will be expensive to implement. They will make it harder for European start-ups to grow, and for individuals to understand how their content is being manipulated.' %}</p>
				<h4>{% trans 'Will the proposal fix the problem?' %}</h4>
				<p>{% trans 'No. The proposed censorship machines are a disproportionate and ineffective ‘solution’ to the problem. We know this, because in the case of SABAM v Netlog, the Court of Justice of the European Union ruled social networks and other web hosting providers cannot be required to monitor and filter activities that occur on their sites to prevent copyright infringement. This would be a breach of freedom of expression and of privacy (CJEU C-360/10).' %}</p>
				<h4>{% trans 'Fight with us against the requirement for large and small websites to put in place automated censorship systems. Join the Copyfight!' %}</h4>
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
			<div class="col-md-8 issue3-description">
				<h3>{% trans 'Unless we take urgent action our innocent remixes and user-generated content will keep infringing copyright' %}</h3>
				<h4>{% trans 'Claiming back our culture…' %}</h4>
				<p>{% trans 'Most memes, reaction gifs, remixes and many other types of user-generated content are currently in breach of copyright rules. The Directive, as proposed, contains no exceptions to make them legal. Our culture is changing, we are no longer mere recipients of content but also creators of new meaning and we want to engage in those practices legally.' %}</p>
				<h4>{% trans 'Help us add a user-generated content exception to the EU Directive to enable our online culture to flourish! Join the Copyfight!' %}</h4>
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-4">
		<div class="row">
			<div class="col">
				<h2 id="take-action">{% trans 'Take Action' %}<h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 share-specific">
				<h3>#1: {% trans 'Share our message' %}</h3>
				<p>{% blocktrans %}Share our message with your friends on social media and make them aware of the ongoing reform.{% endblocktrans %}</p>
				<p class="statements">
					<span class="statement-prev"><i class="fa fa-angle-left fa-lg" aria-hidden="true"></i></span>
					<span class="statement1">{% trans 'No to the new link tax!' %} #copyfighters #fixcopyright</span>
					<span class="statement2">{% trans 'No to censorship filtering on the Internet!' %} #copyfighters #fixcopyright</span>
					<span class="statement3">{% trans 'We &lt;3 memes and remixes – make them legal now!' %} #copyfighters #fixcopyright</span>
					<span class="statement-next"><i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></span>
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=No%20to%20the%20new%20link%20tax!%20%23copyfighters%20%23fixcopyright" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=No%20to%20the%20new%20link%20tax!%20%23copyfighters%20%23fixcopyright%20https%3A%2F%2Fcopyfighters.eu" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-md-4">
				<h3>#2: {% trans 'Sign the petition' %}</h3>
				<p>{% blocktrans %}Sign the <a href="https://savecodeshare.eu/" target="_blank">Open Letter of the Save Code Share campaign</a> of the Free Software Foundation or the <a href="https://savethelink.org/" target="_blank">petition of the save the link campaign</a> of OpenMedia.{% endblocktrans %}</p>
			</div>
			<div class="col-md-4">
				<h3>#3: {% trans 'Call your representative' %}</h3>
				<p>{% blocktrans %}Call a Member of the European Parliament using the <a href="https://changecopyright.org/" target="_blank">calling website</a> of Mozilla or the <a href="https://savethememe.net/" target="_blank">Save the meme! website</a> of Bits Of Freedom and Epicenter.works.{% endblocktrans %}</p>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-5">
		<div class="row">
			<div class="col">
				<p class="position-ignored">{% blocktrans %}During all of 2017 we have been working hard to <b>formulate the voice of the European youth on copyright issues</b>. We organized discussions, workshops, hackathons and summer camps with <b>more than 100 participants from over 25 European countries</b> to come up with our ideas and proposals. Follow us on <b><a href="https://facebook.com/jointhecopyfight" target="_blank">Facebook</a></b> and <b><a href="https://twitter.com/copyfighters" target="_blank">Twitter</a></b> to stay up-to-date on <b>all Copyfighters events and activities</b>, as well as the copyright reform in the European Union.{% endblocktrans %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<img src="{% static 'img/crowd.jpg' %}" alt="Copyfighters at work" />
			</div>
		</div>
	</div>

	<div class="container-fluid area area-6 share-general">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Spread the word' %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p class="statement">
					{% trans 'NO to the current EU reform on copyright, YES to better copyright laws and exceptions.' %} #copyfighters #fixcopyright
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=NO%20to%20the%20current%20EU%20reform%20on%20copyright%2C%20YES%20to%20better%20copyright%20laws%20and%20exceptions.%20%23copyfighters%20%23fixcopyright" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=NO%20to%20the%20current%20EU%20reform%20on%20copyright%2C%20YES%20to%20better%20copyright%20laws%20and%20exceptions.%20%23copyfighters%20%23fixcopyright" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-md-4">
				<p class="statement">
					{% trans 'We are #copyfighters and want a free and open Internet.' %} #fixcopyright
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=We%20are%20%23copyfighters%20and%20want%20a%20free%20and%20open%20Internet.%20%23fixcopyright" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=We%20are%20%23copyfighters%20and%20want%20a%20free%20and%20open%20Internet.%20%23fixcopyright" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-md-4">
				<p class="statement">
					{% trans 'NO to more copyright in the Digital Single Market. YES To better copyright. YES to harmonisation.' %} #copyfighters #fixcopyright
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=NO%20to%20more%20copyright%20in%20the%20Digital%20Single%20Market.%20YES%20To%20better%20copyright.%20YES%20to%20harmonisation.%20%23Copyfighters%20%23fixcopyright" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=NO%20to%20more%20copyright%20in%20the%20Digital%20Single%20Market.%20YES%20To%20better%20copyright.%20YES%20to%20harmonisation.%20%23Copyfighters%20%23fixcopyright" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}
