{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
	<div class="container-fluid">
		<div class="row justify-content-center area area-index-header">
			<div class="col col-lg-12">
				<h1 id='main-title'>{% trans 'Fighting for our Digital Rights in Europe' %}</h1>
				<span id='subtitle-strings'><p>{% blocktrans %}We want a Europe where <span class='hl-1'>sharing</span>, <span class='hl-2'>innovation</span> and <span class='hl-3'>copyright</span> go hand in hand.{% endblocktrans %}</p></span>
				<span id='subtitle'></span>
			</div>
			<div class="col-md-8">
				<p><button class='get-involved-btn'>{% trans 'Act now!' %} <span>→</span></button></p>
				<p>{% blocktrans %}As part of the EU Digital Single Market efforts led by Commissioner Andrus Ansip, the European Commission is seeking to “modernise” copyright law to make it apply more uniformly in the EU single market. <b>The current proposal for a Directive on Copyright in the Digital Single Market threatens the fundamental rights of access to information, freedom of communication, and privacy and we need it to be amended to protect our internet freedoms.</b>{% endblocktrans %}</p>

			<a href='#facts' id='learnmore-link'>Learn more ↓</a>
		</div>
		<div class="col-md-4">
			Call your local government now!
				<form action="/formtest/" method="post">
					{% csrf_token %}
					{{ form }}
					<!--<input type="text" size="8" placeholder="First name">
					<select class="custom-select">
						<option value="AT">AT - Austria</option>
						<option value="BE">BE</option>
						<option value="BG">BG</option>
						<option value="HR">HR</option>
						<option value="CY">CY</option>
						<option value="CZ">CZ</option>
						<option value="DK">DK<option>
						<option value="EE">EE</option>
						<option value="FI">FI</option>
						<option value="FR">FR</option>
						<option value="DE">DE</option>
						<option value="GR">GR</option>
						<option value="HU">HU</option>
						<option value="IE">IE</option>
						<option value="IT">IT</option>
						<option value="LV">LV</option>
						<option value="LT">LT</option>
						<option value="LU">LU</option>
						<option value="MT">MT</option>
						<option value="NL">NL</option>
						<option value="PL">PL</option>
						<option value="PT">PT</option>
						<option value="RO">RO</option>
						<option value="SK">SK</option>
						<option value="SI">SI</option>
						<option value="ES">ES</option>
						<option value="SE">SE</option>
						<option value="GB">GB</option>
					</select><br />
					<input type="email" placeholder="Email"><br />-->
					<button type="submit">Submit</button>
				</form>
				Give us all your Data!
				<form class="email_form" action="/email_form/" method="post">
					{% csrf_token %}
					{{ email_form }}
					<button type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container-fluid area area-2">
		<div class="row">
			<div class="col col-lg-12">
				<h2 id='facts'>Issue #1: Publishers' right</h2>
				<h3>… our ability to share news content online will be hampered</h3>
				<p><a class="btn btn-default show-details" role="button">View details ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-12">
				<h4>The Proposal says…</h4>
				<p>Under Article 11 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, the press will have a new right to sue individuals -- or the platforms they use to link to publications on the Internet. The “ancillary right of press publishers” (also known as the “link tax”) will allow press publishers to request a licence fee from anyone who shares their links online if the link is accompanied by a description, snippet, or even just a title that could be the subject of copyright! This includes most news articles shared online.</p>
				<h4>What was the problem?</h4>
				<p>The reason behind this proposal was to remedy the so-called “value gap”. The value gap is the disparity between the large revenues of large online platforms such as Google and Facebook, and the low revenues of press publishers. It was intended as a way of redistributing Google’s revenues to small publishers. The reality is far less straightforward: the resulting proposal will not only fail to redistribute Google’s revenues to those who need it, but it will also hamper our ability as online users to engage with one another on the internet.</p>
				<h4>Here’s why the Commission’s proposal won’t solve the problem</h4>
				<p>No. The European Commission’s proposal will have a series of very negative impacts on the free and open Internet which we all use every day:</p>
				<ul>
					<li>In Spain where a snippet levy is in place, Google has not paid a share of their advertisement-based revenues to news publishers. Instead, it has simply stopped publishing links to Spanish publishers. It is likely that other social networks will limit their users’ ability to share such links if this Directive comes into effect, thus threatening our freedom of information and limiting our right to be informed</li>
					<li>News publishers will have the right to sue individual website owners and to ask for licence fees whenever their links are being shared, hindering the ability of individuals to share new ideas and important information.</li>
					<li>Advertisement-based clickbait and low-quality news providers which do not charge to share their links could prosper to the detriment of more reputable news sources.</li>
					<li>This will have a negative impact on competition and innovation: European start-ups will be unable to pay for link snippets, and thus will either be unable to compete with existing platform monopolies such as Google or Facebook or will need to launch outside of the European Union.</li>
				</ul>
				<h4>The proposal needs urgent amendment or deletion, and we need your help to ensure that happens. JOIN THE COPYFIGHT!</h4>
				<p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
			</div>
		</div>
	</div>
	<div class="container-fluid area area-3">
		<div class="row">
			<div class="col col-lg-12">
				<h2 id='facts'>Issue #2: Content Filtering</h2>
				<h3>… our ability to post content on the internet will be limited by a censorship machine</h3>
				<p><a class="btn btn-default show-details" role="button">View details ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-12">
				<h4>The Proposal says…</h4>
				<p>Under Article 13 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, information society service providers such as Google, Amazon, Facebook, and Twitter will be forced to apply content filtering technology to pre-screen the content uploaded onto their platforms in order to identify copyright infringing works.</p>
				<h4>What was the problem?</h4>
				<p>The Internet empowers everyone to become a content creator and to have their voices heard around the world. The problem is that some of the content uploaded on the Internet infringes the copyright of other content creators. The Proposal is trying to address copyright infringement on the Internet, but addresses it in a way that hampers the way the Internet has been functioning so far by asking platforms to put in place costly and opaque solutions to pre-screen our content.</p>
				<h4>The proposal is problematic…</h4>
				<p>If you have ever uploaded content to social media, or watched a creative video someone else uploaded, this proposed reform could affect you. This proposal would require intermediaries such as Facebook and YouTube to constantly police their platforms with censorship machines, often with no human element involved in the process. These mechanisms will be expensive to implement. They will make it harder for European start-ups to grow, and for individuals to understand how their content is being manipulated.</p>
				<h4>Will the proposal fix the problem?</h4>
				<p>No. The proposed censorship machines are a disproportionate and ineffective ‘solution’ to the problem. We know this, because in the case of SABAM v Netlog, the Court of Justice of the European Union ruled social networks and other web hosting providers cannot be required to monitor and filter activities that occur on their sites to prevent copyright infringement. This would be a breach of freedom of expression and of privacy (CJEU C-360/10).</p>
				<h4>Fight with us against the requirement for large and small websites to put in place automated censorship systems. JOIN THE COPYFIGHT!</h4>
				<p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
			</div>
		</div>
	</div>
	<div class="container-fluid area area-4">
		<div class="row">
			<div class="col col-lg-12">
				<h2 id='facts'>Issue #3: User-Generated Content Exception</h2>
				<h3>… our innocent remixes and user-generated content will keep infringing copyright</h3>
				<p><a class="btn btn-default show-details" role="button">View details ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-12">
				<p>In their February 2017 <a href="http://www.europarl.europa.eu/sides/getDoc.do?pubRef=-//EP//NONSGML+COMPARL+PE-595.591+01+DOC+PDF+V0//EN&language=EN">Draft Opinion</a>, the Committee on Culture and Education of the European Parliament (CULT) proposed a user-generated content exception to copyright. This proposed amendment (which has not yet been incorporated into the Directive) provides that using content already made available online for purposes such as criticism, review, illustration, caricature, or parody is lawful provided the source is accurately identified and the use is consistent with fair practice. Such a proposal is not yet part of the law but our view is it should be to ensure a healthy remix culture and a future-proof internet.</p>
				<h4>Claiming back our culture…</h4>
				<p>Most memes, reaction gifs, remixes and many other types of user-generated content are currently in breach of copyright rules. The Directive, as proposed, contains no exceptions to make them legal. Our culture is changing, we are no longer mere recipients of content but also creators of new meaning and we want to engage in those practices legally.</p>
				<h4>Help us add a user-generated content exception to the EU Directive to enable our online culture to flourish! JOIN THE COPYFIGHT!</h4>
				<p><a class="btn btn-default" href="#" role="button">Read more »</a></p>
			</div>
		</div>
	</div>

	{# {% include '_navbar.html' %} #}

	<div class="container-fluid">
		<div class="row justify-content-center area area-5">
			<div class="col col-lg-12">
				<h2>Get involved</h2>
			</div>
			<div class="col col-lg-6">
				<p>Topping chocolate toffee powder topping sesame snaps. Donut sugar plum biscuit muffin croissant powder tootsie roll icing. Marshmallow croissant powder croissant apple pie. Pie muffin caramels marshmallow apple pie. Cookie cheesecake cotton candy lemon drops. Bear claw pastry candy canes pie bonbon marzipan lemon drops candy gingerbread.</p>

				<p>Apple pie sweet roll marzipan tart lemon drops. Carrot cake cookie gummies cotton candy powder carrot cake pie. Chocolate bar marzipan fruitcake biscuit sweet roll biscuit dragée dragée. Macaroon toffee liquorice cake carrot cake. Donut cake gummies chocolate pudding. Chocolate bar jelly-o jelly sugar plum. Bonbon caramels sweet roll icing. Dessert cotton candy gummies. Tootsie roll biscuit toffee chocolate cake brownie gummies ice cream oat cake. Soufflé tart chocolate bar sweet roll tootsie roll.</p>
			</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"></iframe>
				</div>
			</div>
		</div>
		<div class="row justify-content-center area area-6">
				<div class="col col-lg-12">
					<h2>Take action</h2>
				</div>
				<div class="col-lg-4">
					<h3>1. Sign the petition</h3>
					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
					<p><a class="btn btn-default" href="#" role="button">Go to the petition »</a></p>
				</div>
				<div class="col-lg-4">
					<h3>2. Share</h3>
					<p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.</p>
					<p><a class="btn btn-default" href="#" role="button">Show shareables »</a></p>
				</div>
				<div class="col-lg-4">
					<h3>3. Meet up</h3>
					<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment.</p>
					<p><a class="btn btn-default" href="#" role="button">View dates »</a></p>
				</div>
		</div>
		<div class="row justify-content-center area area-7">
			 <div class="container">
				<h2>What others are saying</h2>
			 </div>

			<div class="col col-lg-12">
				<div class="quote">
					<div class="photo" style="background-image:url({% static 'img/quotes/juliareda.jpg' %}); background-size: contain; background-color:#345"></div>
					<blockquote>
						<div><strong>Geoblocking is the most anachronistic, un-European, un-digital practice on the web.</strong> This year, we have the chance to end it in the EU – whether we succeed depends on whether people will speak up. <span>supports this campaign</span></div>
						<cite>
							<a href="https://juliareda.eu" target="_blank" class="name">Julia Reda</a>, MEP (<a href="http://europeanpirateparty.eu" target="_blank">Pirate Party</a>, <a href="http://www.greens-efa.eu" target="_blank">Greens/EFA group</a>)
						</cite>
					</blockquote>
				</div>
				<div class="quote quote-mirror">
					<div class="photo" style="background-image:url({% static 'img/quotes/juliareda.jpg' %}); background-size: contain; background-color:#345"></div>
					<blockquote>
						<div><strong>Geoblocking is the most anachronistic, un-European, un-digital practice on the web.</strong> This year, we have the chance to end it in the EU – whether we succeed depends on whether people will speak up. <span>supports this campaign</span></div>
						<cite>
							<a href="https://juliareda.eu" target="_blank" class="name">Julia Reda</a>, MEP (<a href="http://europeanpirateparty.eu" target="_blank">Pirate Party</a>, <a href="http://www.greens-efa.eu" target="_blank">Greens/EFA group</a>)
						</cite>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
