{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block navigation %}
	{# This block is closed again in the content block. It is used to place the background spanning the navigation and first content block. #}
	<div id="index-background-container">
		<div id="index-header-background">&nbsp;</div>
		<div id="index-header-portraits">&nbsp;</div>
		{{ block.super }}
{% endblock %}

{% block content %}
	<div class="container-fluid area area-index-header">
		<div class="row">
			<div class="col">
				<h1 id="main-title">
					<span id="main-title-strings"><p>{% blocktrans %}We want a Europe where <span>sharing</span>, <span>innovation</span> and <span>copyright</span> go hand in hand.{% endblocktrans %}</p></span>
					<span id="main-title-container"></span>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-justify">
				<p>{% blocktrans %}The European Union is moving forward with proposals to <b>reform copyright law</b> to make it apply more uniformly across the Single Market. The current <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX:52016PC0593">proposal for a Directive on Copyright in the Digital Single Market</a> will harm innovation and threatens our fundamental rights of access to information, freedom of communication, and privacy. <b>We urgently need the Proposal to be amended to protect our Internet freedoms.</b>{% endblocktrans %}</p>
				<p>{% trans 'This is how much time is left until the European Parliament\'s pivotal vote on this proposal, which is at the beginning of 2018:' %}</p>

				<p class='countdown'><span>00</span> {% trans 'Days' %} <span>00</span> {% trans 'Hours' %} <span>00</span> {% trans 'Minutes' %} <span>00</span> {% trans 'Seconds' %}</p>

				<p>{% trans 'Leave your email address here and we will get in touch again when our campaign starts, so we can together make sure that European copyright reform becomes a success!' %}</p>
			</div>
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/m8YWC_wj9g4" allowfullscreen title="Youtube video"></iframe>
				</div>
				<p class="text-center follow-social-media">
					Follow us on
					<a class="follow-facebook" href="https://www.facebook.com/jointhecopyfight/">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="follow-twitter" href="https://twitter.com/copyfighters">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="container-fluid area area-email">
		<div class="row">
			<div class="col-xs-12">
				<form class="email_form" action="/email_form/" method="post">
					<p class="form_status"></p>
					{% csrf_token %}
					{{ email_form }}
					<button type="submit">{% trans 'Join now!' %}</button>
					<span id="email_reload">&#8635;</span>
					<p id="email_share">{% blocktrans %}Share on <span id="share_fb"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</span> or <span id="share_twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</span>{% endblocktrans %}</p>
				</form>
			</div>
		</div>
	</div>

	{# This closes the div opened in the navigation block #}
	</div>

	{% comment %}
	<!--div class="col-md-4">
		<p>Time is running! The European Parliament’s <b>pivotal vote</b> on this Proposal is in:</li>
		<!-- 10 October 2017 -->
		<!--Call your local government now!
		<form action="/formtest/" method="post">
			{% csrf_token %}
			{{ form }}
			<button type="submit">Submit</button>
		</form>
		Give us all your Data!
		<form class="email_form" action="/email_form/" method="post">
			<p class="form_status"></p>
			{% csrf_token %}
			{{ email_form }}
			<button type="submit">Submit</button>
		</form>
	</div-->
	{% endcomment %}

	<div class="container-fluid area area-2 issue-1" id="issue1">
		<div class="row">
			<div class="col">
				<h2>{% trans "Issue #1: Publishers' right" %}</h2>
				<h3>{% trans 'Unless we take urgent action our ability to share news content online will be hampered' %}</h3>
				<p>{% blocktrans %}Under Article 11 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, the press will have a new right to sue individuals -- or the platforms they use to link to publications on the Internet. The “ancillary right of press publishers” (also known as the “link tax”) will allow press publishers to request a licence fee from anyone who shares their links online if the link is accompanied by a description, snippet, or even just a title that could be the subject of copyright! This includes most news articles shared online. {% endblocktrans %}</p>
				<p><a class="btn btn-default show-details" role="button">{% trans 'Why is this problematic?' %} ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>{% trans 'What was the problem?' %}</h4>
				<p>{% trans 'The reason behind this proposal was to remedy the so-called “value gap”. The value gap is the disparity between the large revenues of large online platforms such as Google and Facebook, and the low revenues of press publishers. It was intended as a way of redistributing Google’s revenues to small publishers. The reality is far less straightforward: the resulting proposal will not only fail to redistribute Google’s revenues to those who need it, but it will also hamper our ability as online users to engage with one another on the internet.' %}</p>
				<h4>{% trans 'Here’s why the Commission’s proposal won’t solve the problem' %}</h4>
				<p>{% trans 'No. The European Commission’s proposal will have a series of very negative impacts on the free and open Internet which we all use every day:' %}</p>
				<ul>
					<li>{% trans 'In Spain where a snippet levy is in place, Google has not paid a share of their advertisement-based revenues to news publishers. Instead, it has simply stopped publishing links to Spanish publishers. It is likely that other social networks will limit their users’ ability to share such links if this Directive comes into effect, thus threatening our freedom of information and limiting our right to be informed' %}</li>
					<li>{% trans 'News publishers will have the right to sue individual website owners and to ask for licence fees whenever their links are being shared, hindering the ability of individuals to share new ideas and important information.' %}</li>
					<li>{% trans 'Advertisement-based clickbait and low-quality news providers which do not charge to share their links could prosper to the detriment of more reputable news sources.' %}</li>
					<li>{% trans 'This will have a negative impact on competition and innovation: European start-ups will be unable to pay for link snippets, and thus will either be unable to compete with existing platform monopolies such as Google or Facebook or will need to launch outside of the European Union.' %}</li>
				</ul>
				<h4>{% trans 'The proposal needs urgent amendment or deletion, and we need your help to ensure that happens. Join the Copyfight!' %}</h4>
				<p class="share">
					<label for="issue-1-message-select">
						<i class="fa fa-share-alt" aria-hidden="true"></i> {% trans 'Spread the word' %}
					</label>
					<select id="issue-1-message-select">
						<option value="1">{% trans "We Oppose A New Publishers' Right in the EU" %}</option>
						<option value="2">{% trans 'NO to the new LINK TAX!' %}</option>
						<option value="3">{% trans 'NO To Online Censorship Through Copyright!' %}</option>
					</select>
					<a class="share-btn facebook" href="#" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
					<a class="share-btn twitter" href="#" target="_blank">
						<i class="fa fa-twitter" aria-hidden="true"></i>
					</a>
					<a class="share-btn reddit" href="https://www.reddit.com/submit?url=https://copyfighters.eu#issue1&newwindow=1" data-action="share/reddit/share" target="_blank">
						<i class="fa fa-reddit-alien" aria-hidden="true"></i>
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-right">
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-3 issue-2" id="issue2">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Issue #2: Content Filtering' %}</h2>
				<h3>{% trans 'Unless we take urgent action our ability to post content on the internet will be limited by a censorship machine' %}</h3>
				<p>{% blocktrans %}Under Article 13 of the <a href="http://eur-lex.europa.eu/legal-content/EN/TXT/PDF/?uri=CELEX:52016PC0593&from=EN">European Commission’s proposal</a>, information society service providers such as Google, Amazon, Facebook, and Twitter will be forced to apply content filtering technology to pre-screen the content uploaded onto their platforms in order to identify copyright infringing works.{% endblocktrans %}</p>
				<p><a class="btn btn-default show-details" role="button">{% trans 'Why is this problematic?' %} ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>{% trans 'What was the problem?' %}</h4>
				<p>{% trans 'The Internet empowers everyone to become a content creator and to have their voices heard around the world. The problem is that some of the content uploaded on the Internet infringes the copyright of other content creators. The Proposal is trying to address copyright infringement on the Internet, but addresses it in a way that hampers the way the Internet has been functioning so far by asking platforms to put in place costly and opaque solutions to pre-screen our content.' %}</p>
				<h4>{% trans 'The proposal is problematic…' %}</h4>
				<p>{% trans 'If you have ever uploaded content to social media, or watched a creative video someone else uploaded, this proposed reform could affect you. This proposal would require intermediaries such as Facebook and YouTube to constantly police their platforms with censorship machines, often with no human element involved in the process. These mechanisms will be expensive to implement. They will make it harder for European start-ups to grow, and for individuals to understand how their content is being manipulated.' %}</p>
				<h4>{% trans 'Will the proposal fix the problem?' %}</h4>
				<p>{% trans 'No. The proposed censorship machines are a disproportionate and ineffective ‘solution’ to the problem. We know this, because in the case of SABAM v Netlog, the Court of Justice of the European Union ruled social networks and other web hosting providers cannot be required to monitor and filter activities that occur on their sites to prevent copyright infringement. This would be a breach of freedom of expression and of privacy (CJEU C-360/10).' %}</p>
				<h4>{% trans 'Fight with us against the requirement for large and small websites to put in place automated censorship systems. Join the Copyfight!' %}</h4>
				<p class="share">
					<label for="issue-1-message-select">
						<i class="fa fa-share-alt" aria-hidden="true"></i> {% trans 'Spread the word' %}
					</label>
					<select id="issue-2-message-select">
						<option value="1">{% trans 'We Oppose The Use of Automated Solutions To Pre-Screen Online Content' %}</option>
						<option value="2">{% trans 'NO TO CONTENT FILTERING!' %}</option>
						<option value="3">{% trans 'NO To Online Censorship Through Copyright!' %}</option>
						<option value="4">{% trans 'The "Value Gap" is BS... This reform is destroying our internet.' %}</option>
					</select>
					<a class="share-btn facebook" href="#" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="share-btn twitter" href="#" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a class="share-btn reddit" href="https://www.reddit.com/submit?url=https://copyfighters.eu#issue2&newwindow=1" data-action="share/reddit/share" target="_blank">
						<i class="fa fa-reddit-alien"></i>
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-right">
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-4 issue-3" id="issue3">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Issue #3: User-Generated Content Exception' %}</h2>
				<h3>{% trans 'Unless we take urgent action our innocent remixes and user-generated content will keep infringing copyright' %}</h3>
				<p>{% blocktrans %}In their February 2017 <a href="http://www.europarl.europa.eu/sides/getDoc.do?pubRef=-//EP//NONSGML+COMPARL+PE-595.591+01+DOC+PDF+V0//EN&language=EN">Draft Opinion</a>, the Committee on Culture and Education of the European Parliament (CULT) proposed a user-generated content exception to copyright. This proposed amendment (which has not yet been incorporated into the Directive) provides that using content already made available online for purposes such as criticism, review, illustration, caricature, or parody is lawful provided the source is accurately identified and the use is consistent with fair practice. Such a proposal is not yet part of the law but our view is it should be to ensure a healthy remix culture and a future-proof internet.{% endblocktrans %}</p>
				<p><a class="btn btn-default show-details" role="button">{% trans 'Why is this important?' %} ↓</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4>{% trans 'Claiming back our culture…' %}</h4>
				<p>{% trans 'Most memes, reaction gifs, remixes and many other types of user-generated content are currently in breach of copyright rules. The Directive, as proposed, contains no exceptions to make them legal. Our culture is changing, we are no longer mere recipients of content but also creators of new meaning and we want to engage in those practices legally.' %}</p>
				<h4>{% trans 'Help us add a user-generated content exception to the EU Directive to enable our online culture to flourish! Join the Copyfight!' %}</h4>
				<p class="share">
					<label for="issue-1-message-select">
						<i class="fa fa-share-alt" aria-hidden="true"></i> {% trans 'Spread the word' %}
					</label>
					<select id="issue-3-message-select">
						<option value="1">{% trans 'We Want A Copyright Exception For User-Generated Content' %}</option>
						<option value="2">{% trans 'We <3 REMIXES #joinourcopyfight' %}</option>
						<option value="3">{% trans "We agree with the CULT Committee's Proposal for a copyright exception for user-generated content." %}</option>
					</select>
					<a class="share-btn facebook" href="#" target="_blank">
						<i class="fa fa-facebook"></i>
					</a>
					<a class="share-btn twitter" href="#" target="_blank">
						<i class="fa fa-twitter"></i>
					</a>
					<a class="share-btn reddit" href="https://www.reddit.com/submit?url=https://copyfighters.eu#issue3&newwindow=1" data-action="share/reddit/share" target="_blank">
						<i class="fa fa-reddit-alien"></i>
					</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col text-right">
				<a class="btn btn-default" href="{% url 'references' %}" role="button">{% trans 'Additional Resources' %} »</a>
			</div>
		</div>
	</div>

	{# {% include '_navbar.html' %} #}

	<div class="container-fluid area area-5">
		<div class="row">
			<div class="col">
				<h2>{% trans 'What others are saying' %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="quote">
					<div class="photo" style="background-image:url({% static 'img/quotes/neeliekroes.jpg' %}); background-size: contain; background-color:#345"></div>
					<blockquote>
						<div>{% blocktrans %}<strong>Today our fragmented copyright system is ill-adapted to the real essence of art, which has no frontiers.</strong> Instead, that system has ended up giving a more prominent role to intermediaries than to artists. It irritates the public who often cannot access what artists want to offer and leaves a vacuum which is served by illegal content, depriving the artists of their well deserved remuneration.{% endblocktrans %}</div>
						<cite>
							<a href="https://twitter.com/NeelieKroesEU/" target="_blank" class="name">Neelie Kroes</a>, {% trans 'Former Vice-President of the European Commission (Photo by Olivier Ezratty, CC BY-SA 3.0)' context 'Talking about Neelie Kroes, so if your language is gendered, use the female version of "vice president"' %}
						</cite>
					</blockquote>
				</div>
				<div class="quote quote-mirror">
					<div class="photo" style="background-image:url({% static 'img/quotes/juliareda.jpg' %}); background-size: contain; background-color:#345"></div>
					<blockquote>
						<div>{% blocktrans %}<strong>Whether EU copyright will be messed up for many years, whether censorship machines will be installed, whether you still have the freedom to link, whether modern research practices are accessible to everyone:</strong> All this will come down to every single Member of the Parliament’s vote – or their absence.{% endblocktrans %}</div>
						<cite>
							<a href="https://juliareda.eu" target="_blank" class="name">Julia Reda</a>, {% trans 'MEP' %} (<a href="http://europeanpirateparty.eu" target="_blank">{% trans 'Pirate Party' %}</a>, <a href="http://www.greens-efa.eu" target="_blank">{% trans 'Greens/EFA group' %}</a>)
						</cite>
					</blockquote>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid area area-6 share-general">
		<div class="row">
			<div class="col">
				<h2>{% trans 'Spread the word' %}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<p class="statement">
					{% trans 'Join Our #COPYFIGHT! #EUcopyrightreform #copyfighters #joinourcopyfight' %}
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=Join%20Our%20%23COPYFIGHT!%20%23EUcopyrightreform%20%23copyfighters%20%23joinourcopyfight">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=Join%20Our%20%23COPYFIGHT!%20%23EUcopyrightreform%20%23copyfighters%20%23joinourcopyfight%20%23copyfighters%20https%3A%2F%2Fcopyfighters.eu">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<p class="statement">
					{% trans 'NO to the current EU Reform on Copyright, YES to better copyright laws and exceptions to copyright. #copyfighters' %}
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=NO%20to%20the%20current%20EU%20Reform%20on%20Copyright%2C%20YES%20to%20better%20copyright%20laws%20and%20exceptions.%20%23copyfighters">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=NO%20to%20the%20current%20EU%20Reform%20on%20Copyright%2C%20YES%20to%20better%20copyright%20laws%20and%20exceptions.%20%23copyfighters%20%23copyfighters%20https%3A%2F%2Fcopyfighters.eu">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<p class="statement">
					{% trans 'We are #copyfighters and want a free and open Internet.' %}
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=We%20are%20%23copyfighters%20and%20want%20a%20free%20and%20open%20Internet.">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=We%20are%20%23copyfighters%20and%20want%20a%20free%20and%20open%20Internet.%20%23copyfighters%20https%3A%2F%2Fcopyfighters.eu">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
			<div class="col-lg-3 col-md-6">
				<p class="statement">
					{% trans 'NO To More Copyright in the Digital Single Market. YES To Better Copyright. YES To Harmonisation #Copyfighters' %}
				</p>
				<p class="text-center">
					<a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcopyfighters.eu&quote=NO%20To%20More%20Copyright%20in%20the%20Digital%20Single%20Market.%20YES%20To%20Better%20Copyright.%20YES%20To%20Harmonisation.%20%23copyfighters">
						<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
					</a>
					<a class="share-twitter" href="https://twitter.com/home?status=NO%20To%20More%20Copyright%20in%20the%20Digital%20Single%20Market.%20YES%20To%20Better%20Copyright.%20YES%20To%20Harmonisation.%20%23copyfighters%20https%3A%2F%2Fcopyfighters.eu">
						<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
					</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}
