{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="container-fluid area area-header">
		<div class="row">
			<div class="col">
				<h1>Privacy</h1>

				<p>Bei konkreten Fragen zum Datenschutz kannst du dich jederzeit an unseren Datenschutzbeauftragten Jan Leutert unter <a href="mailto:dsb@beyonddivision.eu">dsb@beyonddivision.eu</a> wenden.</p>
				<hr/>

				<p>Wir bei europe beyond division fordern nicht nur strengeren Datenschutz, wir setzen ihn auch selbst praktisch um. Personenbezogene Daten werden auf dieser Webseite nur im technisch unbedingt notwendigen Umfang erhoben. In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben. Sollte es ausnahmsweise doch einmal notwendig werden, Deine Daten an Dritte weiterzugeben, so werden wir Dich, für jede Übermittlung einzeln, vorher um Erlaubnis fragen.</p>

				<p>Die nachfolgende Erklärung gibt Dir einen Überblick darüber, wie wir diesen Schutz gewährleisten und welche Art von Daten zu welchem Zweck erhoben werden.</p>

				<h2>Datenverarbeitung auf dieser Internetseite</h2>
				<p>Von Deinem Computer werden verschiedene Daten an uns übermittelt, diese sind je nach Browser- und Betriebssytemtyp, -version und -einstellung unterschiedlich. Einige davon können sein:</p>

				<ul>
					<li>Browsertyp/-version</li>
					<li>verwendetes Betriebssystem</li>
					<li>Referrer URL (die zuvor besuchte Seite)</li>
					<li>Hostname des zugreifenden Rechners (IP-Adresse)</li>
					<li>Uhrzeit der Serveranfrage.</li>
				</ul>

				<p>Sollten unsere Systeme einmal zu Straftaten missbraucht werden, kann es passieren, dass wir dazu verpflichtet werden, diese und andere Daten zu speichern und – soweit vorhanden – den Ermittlungsbehörden auszuhändigen. Soweit es uns erlaubt ist, werden wir Dich in einem solchen Fall davon unterrichten. Im Wiki der Piratenpartei Deutschland kannst Du nachlesen, wie Du die <a href="https://wiki.piratenpartei.de/HowTo">Übermittlung aller in diesem Absatz genannten Daten an uns und andere unterbinden</a> kannst.</p>

				<h2>Cookies</h2>
				<p>Die Internetseiten verwenden an mehreren Stellen sogenannte Cookies. Cookies sind kleine Textdateien, die auf Deinem Rechner abgelegt werden und die Dein Browser speichert. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Die meisten der von uns verwendeten Cookies sind sogenannte »Session-Cookies«. Das heißt, sie werden nach Ende Ihres Besuchs automatisch gelöscht.</p>
				<p>Cookies können es auch ermöglichen, Dich nach Verlassen der Website wiederzuerkennen. Leider wird diese Funktion von einigen Firmen dazu missbraucht, das Surfverhalten von Internetnutzern auszuspionieren. Die Jungen Piraten lehnen ein solches Verhalten als datenschutzwidrig ab.</p>
				<p>Im Einzelnen: Die Website, das Forum und das Wiki verwenden Cookies dazu, um Dich nach dem Einloggen als der Benutzer zu identifizieren, als der Du Dich dich eingeloggt hast.<br/>
				In Deinen Browsereinstellungen kannst Du die Annahme von Cookies unterbinden.</p>

				<h2>Auskunftsrecht</h2>
				<p>Du hast jederzeit das Recht auf Auskunft über die bezüglich Deiner Person gespeicherten Daten, deren Herkunft und Empfänger sowie den Zweck der Speicherung. Auskunft über die gespeicherten Daten geben wir dir gerne. Wende Dich dazu bitte an <a href="mailto:kontakt@beyonddivision.eu">kontakt@beyonddivision.eu</a>.</p>

				<h2>Weitere Informationen</h2>
				<p>Dein Vertrauen ist uns wichtig. Daher werden wir Dir jederzeit Rede und Antwort bezüglich der Verarbeitung Deiner personenbezogenen Daten stehen. Wenn Du Fragen hast, die Dir diese Datenschutzerklärung nicht beantworten konnte oder wenn Du zu einem Punkt vertiefte Informationen wünschst, wende dich bitte an uns. Du kannst deine Fragen und Anregungen an <a href="mailto:kontakt@beyonddivision.eu">kontakt@beyonddivision.eu</a> stellen.</p>

			</div>
		</div>
	</div>
{% endblock %}
