{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
	<div class="container-fluid area toolkit text-justify">
		<div class="row">
			<div class="col">
				<h1>{% trans "Communications Toolkit" %}</h1>
				<p>{% trans "#Copyfighters is a grassroots campaign which highlights the need to amend the European Commission’s proposed Directive on Copyright in the Digital Single Market." %}</p>
				<p>{% trans "Unless we take urgent action, the proposed Directive will harm innovation and threaten our fundamental rights of access to information, freedom of communication, and privacy." %}</p>
				<p>{% trans "We promote legislation that will make it easier for everyone to use the Internet for education, entertainment, commerce, and communication." %}</p>
				<p>{% trans "This toolkit explains how you can participate in the action month online or by hosting an event in your own country, and also offers advice on what copyright reform we think would work best. You can read this guide from start to finish, or dive into the sections that interest you. If you have questions, please contact us: join@copyfighters.eu" %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{% trans "What we want" %}</h2>
				<p><em>{% trans "We want a Europe where sharing, innovation, and copyright go hand in hand." %}</em></p>
				<p>{% trans "The European Union is moving forward with proposals to reform copyright law to make it apply more uniformly across the Single Market. The current proposal for a Directive on Copyright in the Digital Single Market is problematic because:" %}</p>
				<ol>
					<li>{% trans "… our ability to share news content online will be hampered" %}</li>
					<li>{% trans "… our ability to post content on the Internet will be limited by a censorship machine" %}</li>
					<li>{% trans "… our innocent remixes and user-generated content will keep infringing copyright" %}</li>
				</ol>
				<p><em>{% trans "We\'re not asking to legalise plagiarism, theft, or piracy." %}</em> {% trans "We are asking for the EU to be sensible and not endanger our freedoms to share and communicate information." %}</p>
				<p><strong>{% trans "The European Parliament’s pivotal vote on this Proposal is at the beginning of 2018." %}</strong> {% trans "The time is thus now to take action to safeguard human rights and to protect our ability to access culture." %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{% trans "Who can make it happen" %}</h2>
				<p>{% trans "What needs to change in your country, and who can make it happen? Join the copyfight by finding your key targets, identifying allies and applying pressure, exposing concerns, and stimulating them to think about and act on #Copyfighter’s key demands." %}</p>
				<p>{% trans "Choose the right channels to reach them. It might be via social media, a meeting, email, the media — or all of the above!" %}</p>
				<h3>{% trans "Government" %}</h3>
				<p>{% trans "Seek out your President, Prime Minister, Member of the European Parliament, or any key ministers or ministry officials that can affect information communication technologies and Internet rights in areas like culture, media, or intellectual property. These are the people who draft new policies and have power to prioritise them." %}</p>
				<h3>{% trans "Private Sector" %}</h3>
				<p>{% trans "Businesses can be either targets or allies (or both). They can partner with government and support policies to encourage competition — or they can pressure governments to adopt policies which protect their interests and harm ordinary Internet users. Small content producers, niche publishers, and streaming video service providers will likely agree that copyright reform is urgently needed." %}</p>
				<h3>{% trans "Media" %}</h3>
				<p>{% trans "Journalists from newspapers, radio, and all variety of media and blogs need to help communicate why a user-generated content exception is so important. They can also pressure government to follow up on promises." %}</p>
				<h3>{% trans "Civil Society" %}</h3>
				<p>{% trans "Greater understanding of supranational, national, local, and rural Internet use helps inform better policy and good arguments for why copyright reform. Universities, think tanks, research institutes, and foundations can be allies, at home and abroad." %}</p>
				<h3>{% trans "Web Community" %}</h3>
				<p>{% trans "Which other organisations, bloggers, hackers, and web defenders can support our activities? Connect and partner with everyone who feels strongly about there being user-generated content on the Internet, especially those who have uploaded lawful content previously and had it censored, and demand action from governments and content platforms." %}</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{% trans "Social media guide" %}</h2>
				<p>{% trans "Much of our activity takes place through social media. Here are some quick tips on how to get social with #Copyfighters:" %}</p>
				<ol>
					<li>{% trans 'Add a #Copyfighters "Twibbon" to your profile picture on Twitter and Facebook.' %}</li>
					<li>{% trans "Make noise using the hashtags #Copyfighters and #FixCopyright targeting key influencers." %}</li>
					<li>{% trans "Share and remix photos, logos, and infographics to raise awareness. Please circulate our memes!" %}</li>
					<li>{% trans "If you attend a #Copyfighters event, live tweet and blog it." %}</li>
					<li>{% blocktrans %}Follow <a href="https://twitter.com/copyfighters" target="_blank">@Copyfighters on Twitter</a> and <a href="https://www.facebook.com/jointhecopyfight/" target="_blank">Copyfighters on Facebook</a>.{% endblocktrans %}</li>
					<li>{% trans "Connect with other #Copyfighters and support their campaign efforts." %}</li>
				</ol>
				<h3>{% trans "Images for sharing" %}</h3>
				<h4>{% trans "Photos from the Copyfighters camp" %}</h4>
				<ul>
					<li><a href="https://www.facebook.com/lutoma/media_set?set=a.10203799176457250.1073741861.1754636393">Facebook</a></li>
					<li><a href="https://www.flickr.com/photos/jungepiraten/sets/72157683634000542">Flickr</a></li>
				</ul>
				<h4>{% trans "Memes" %}</h4>
				<p><a href="{% static 'img/memes/copyfighters-memes.zip' %}">{% trans "Download all our memes as a zip file" %}</a>.</p>
				<h3>{% trans "More Tips" %}</h3>
				<ul>
					<li>{% trans "Connect with targets and allies on social media. Without spamming and being courteous, engage with them on the issues and what needs to happen. Praise them for actions you agree with. Remember we are running a positive, evidence-informed campaign!" %}</li>
					<li>{% trans "Who can help amplify our message in your local Twittersphere or blogosphere? Reach out to influencers with a large audience and encourage them to #FixCopyright." %}</li>
					<li>{% trans "If you notice a popular viral video is removed from YouTube, reach out to the content creator and share with them information on what has happened -- and how things could be about to get a whole lot worse!" %}</li>
					<li>{% trans "Tag us @Copyfighters on Twitter or Facebook — people supporting the campaign will be watching and reposting." %}</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{% trans "Plan your own event" %}</h2>
				<h3>{% trans "Take part in the Copyfighters campaign" %}</h3>
				<p>{% trans "Would you like to join the campaign by hosting an event? You don’t need special permission or credentials to host a #Copyfighters event. Everyone can support the campaign by drawing attention to the need for copyright reform in their own way." %}</p>
				<ul>
					<li>{% trans "Visit the campaign homepage for updates and toolkit additions." %}</li>
					<li>{% trans "Register your event and we will help you spread the word." %}</li>
					<li>{% trans "See our map of events to see what is happening near you." %}</li>
				</ul>
				<p>{% trans "Anyone can organise an activity to encourage others to #FixCopyright — big and small, quiet or loud, they all make a difference! Events during the action month are meant to amplify long-term efforts for change. Please note that we need everyone to share photos of activities as they happen via Facebook and Twitter with the hashtag #FixCopyright and tagging us at @Copyfighters. This will help us show leaders just how many of us care about copyright reform, and will make calls for action harder to dismiss." %}</p>
				<h3>{% trans "Planning your event" %}</h3>
				<dl class="row">
					<dt class="col-md-4 col-lg-3">{% trans "Step 1: Goals" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Define your objective and how it will help bring about copyright reform in your country or at the EU level. Determine who you will be targeting with your message, and how many people you will affect." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 2: Event" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Write an approximate timetable for the event from beginning to end, and consider whether it will be engaging, entertaining, and meet your goals from Step 1." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 3: Budget" %}</dd>
					<dd class="col-md-8 col-lg-9">{% trans "Is there a free venue available? Do you need refreshments, printed handouts, or anything else that could cost money?" %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 4: Invitations" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Think about your target participants and partners. What are their interests? How can you approach them? In our experience, it is best if you can reach out to people individually at least one week in advance." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 5: Communicating" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Team meeting - does everyone understand the objective of your event as well as how it forms part of a regional #Copyfighters campaign? Download campaign logos and materials." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 6: The Big Day" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Good luck! Be open to feedback and to revising your event strategy as you go if something isn’t working well." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 7: Sharing" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Document your activity immediately for maximum visibility and impact. We need everyone to share photos of activities as they happen via Facebook and Twitter with the hashtag #FixCopyright and tagging @Copyfighters. Write a summary of the event immediately after to publish on your own website, in social media, or on a blogging platform like Medium. Send us your link by email or by tagging @Copyfighters on Twitter." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 8: Friending" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Encourage participants to stay in touch with the #Copyfight and also to get involved with regional and international activities via our website mailing list, if they are interested." %}</dd>
					<dt class="col-md-4 col-lg-3">{% trans "Step 9: Evaluating" %}</dt>
					<dd class="col-md-8 col-lg-9">{% trans "Be honest, what did you really achieve? Are there things you learned or accomplished that surprised you? What would you do differently next time? Let us know!" %}</dd>
				</dl>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h2>{% trans "Media advice" %}</h2>
				<p>{% trans "We want to help you get your own activities and the #Copyfighters campaign mentioned in the media. Journalists often choose what stories they cover based on a press release. You may find some in our references, and encourage you to share them with reporters in your country. If journalists in your country do not always speak English, we'd appreciate it if you'd translate the press release into your local language." %}</p>
				<h3>{% trans "Some tips for working with the media" %}</h3>
				<ul>
					<li>{% trans "Find the contact details for the right journalists first. Have you seen a related news story? Open the article and check for the byline; it should have the name of the reporter who wrote the piece. If you google their name along with their publication’s name and the word ‘email’, you can often find their email address." %}</li>
					<li>{% trans "Otherwise, try to speak to a news editor." %}</li>
					<li>{% trans "It is a good idea to try and call a reporter to explain why your story is important. Reporters are busy and may get hundreds of emails a day. A quick phone call is the best way to make sure they hear you." %}</li>
					<li>{% trans "You probably won’t get to talk for long, so think about what you will say, and particularly why their audience will be interested. It is okay to script your call in advance if you are new to calling a journalist." %}</li>
					<li>{% trans "The reporter may ask you to email them a press release, or call back later for an interview. Or, they may not be interested at all." %}</li>
				</ul>
				<p>{% trans "Good luck! If you have questions, you can always contact us: join@copyfighters.eu" %}</p>
			</div>
		</div>
		</div>
	</div>
{% endblock %}
